body
	{
		font-size: 11px;
		font-family: arial;
	}
div
	{
		float: none !important;
	}
.cr-left,.cr-right
	{
		width: auto !important;
	}
table
	{
		border-collapse: collapse;
		table-layout: fixed;
	}
td
	{
		width: 25px;
		min-width: 25px;
		height: 25px;
		font-size: 11px;
		vertical-align: top;
		border: 1px solid gray !important;
	}
tr:not(:first-child)>td
	{
		border-top: none !important;
	}
td:not(:first-child)
	{
		border-left: none !important;
	}
td[gap]
	{
		background: #f0f0f0;
		-webkit-print-color-adjust: exact;
	}
[page1]
	{
		column-count: 2;
	}
@media print
	{
		*
			{
				float: none !important;
			}
		#ans
			{
				display: initial !important;
			}
		.page-break
			{
				break-before: always;
				page-break-before: always;
			}
	}
